<div class="radarChart"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src="assets/js/radar_chart.js"></script>
<script>

/* Radar chart design created by Nadieh Bremer - VisualCinnamon.com */

	//////////////////////////////////////////////////////////////
	//////////////////////// Set-Up //////////////////////////////
	//////////////////////////////////////////////////////////////

	var margin = {top: 100, right: 100, bottom: 100, left: 100},
		width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
		height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);

	//////////////////////////////////////////////////////////////
	////////////////////////// Data //////////////////////////////
	//////////////////////////////////////////////////////////////

	var data = [
			  [//iPhone
				{axis:"Data Visualization",value: 0.9},
				{axis:"Process Automatisation",value: 0.9},
				{axis:"Time Series Forecasting",value: 0.6},
				{axis:"Computer Vision",value: 0.5},
				{axis:"Reinforcement Learning",value: 0.8},
				{axis:"DevOps",value: 0.4},
				{axis:"Python Software Development",value: 1.0},
				{axis:"Project Management",value:0.7},
				{axis:"React Frontend Development",value:0.6},
			  ]
			];
	//////////////////////////////////////////////////////////////
	//////////////////// Draw the Chart //////////////////////////
	//////////////////////////////////////////////////////////////

	var color = d3.scale.ordinal()
		.range(["#EDC951","#CC333F","#00A0B0"]);

	var radarChartOptions = {
	  w: width,
	  h: height,
	  margin: margin,
	  maxValue: 0.5,
	  levels: 5,
	  roundStrokes: true,
	  color: color
	};
	//Call function to draw the Radar chart
	RadarChart(".radarChart", data, radarChartOptions);
</script>
