// 
// Typography
// 

$font-family-sans-serif: Monospace, "DejaVu Sans Mono", "Ubuntu Mono", monospace;

$font-family-serif: Monospace, "DejaVu Sans Mono", "Ubuntu Mono", monospace;

$font-family-base: $font-family-serif;

$headings-font-family: $font-family-sans-serif;

$btn-font-family: $font-family-sans-serif;